body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
  }
/*tap-bar*/
.top-bar {
    box-sizing:border-box;
    padding: 1px 0;
    font-size: 13px;
    background-color: #232323;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.top-bar .list-inline {
    list-style: none;
  }
.top-bar .list-inline li a {
    color: #ffffff;
    text-decoration: none;
  }
.top-bar .list-inline li a i {
    padding-right: 5px;
  }
.list-inline > li {
    display: inline-block;
    padding-right: 20px;
  }
.top-bar .list-inline li a:hover {
    text-decoration:underline;
  }
.top-bar .list-inline li a span.colored {
    color: #5687bf;
  }
.fa-envelope:hover {
    color: #5687bf;
  }
.top-bar .top-bar-right > ul > li + li:before {
    content: "|";
    color: white;
    padding-right: 10px;
  }
.top-bar-right .list-inline > li {
    display: inline-block;
    padding-right: 10px;
  }
.top-bar-right .list-inline .currency:hover  .fa-angle-down {
  color: #5687bf;
}
.top-bar-right .list-inline .flags:hover  .fa-angle-down {
  color: #5687bf;
}